* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #100217e6;
  height: 69px;
  padding: 23px 15px;
}

.navbar .burger-menu {
  width: 26.69px;
  height: 23.35px;
  background-image: url("../assets/icons/hamburguesa.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar .logo {
  width: 139.67px;
  height: 20.26px;
  background-image: url("../assets/icons/logo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar .carrito {
  width: 26.69px;
  height: 23.63px;
  background-image: url("../assets/icons/carrito.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  border-bottom: 2px solid rgb(92, 92, 92);
  height: 36.5px;
  width: 331px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

ul {
  list-style: none;
}

main ul img {
  border-bottom: 2px solid rgb(92, 92, 92);
  width: 331px;
  height: 232px;
}

.item_description {
  display: flex;
  flex-direction: column;
}

.article_title {
  font-size: 2rem;
}
.article_price {
  font-size: 2rem;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  height: 161px;
  background-color: #100217e6;
}

footer a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.6rem;
}
